@import url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

body {
	margin: 0;
	font-size: 14px !important;
	font-family: "Poppins", sans-serif;
	background-color: whitesmoke;
}

#loader {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 50px;
	margin: -25px 0 0 -25px;
	border: 4px rgba(0, 0, 0, 0.25) solid;
	border-top: 10px #008744 solid;
	border-right: 10px #0057e7 solid;
	border-bottom: 10px #d62d20 solid;
	border-left: 10px #ffa700 solid;
	border-radius: 50%;
	-webkit-animation: spin6 1s infinite linear;
	animation: spin6 1s infinite linear;
}

@-webkit-keyframes spin6 {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes spin6 {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.main {
	width: 98%;
	background: #ffffff;
	margin: auto;
	margin-top: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-header{
	background-color: #002060;
	color: white;
	/* padding: 10 15; */
	text-align: center;
	font-size: 30px;
}

.stats-section {
	padding: 0 15px;
}

.stats-section span {
	color: blue;
}

.stats-section h1 {
	color: #002060;
}

table {
	border-collapse: collapse;
	position: relative;
	border-spacing: 0;
	width: 80%;
	border: 1px solid #ddd;
	margin: auto;
	overflow-x: auto;
}

th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
	background-color: #ddd;
}

td {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}

tr:hover {
	background-color: #ddd;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

#total {
	color: #008744;
}

#active {
	color: #0057e7;
}

#cured {
	color: rgb(231, 124, 2);
}

#death {
	color: #d62d20;
}

.foot {
	padding: 10px 0px;
	text-align: center;
	color: black;
}

.foot a {
	text-decoration: none;
}

.mid {
	margin-top: 20px;
	/* margin-bottom: 30px; */
	text-align: center;
}

.container {
	display: flex;
}

.form-row {
	margin: 10px;
}

.form select {
	outline: none;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 7px 10px;
}

.form-row label {
	margin: 0;
	padding: 0;
	padding: 7px 10px;
}

ul,
li {
	margin: 0;
	padding: 0;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cards-container li {
	width: 32%;
	border: 1px solid #c7c2c2;
	margin-top: 10px;
	padding: 7px;
	margin-right: 20px;
}

.result-header {
	color: #002060;
	font-weight: 500;
}

.center-address h5 {
	font-size: 13px;
	text-transform: uppercase;
	color: #002060;
}

.card-container .center-address {
	font-size: 12px;
	width: 70%;
	position: relative;
}

.center-address p {
	margin: 0;
	padding: 0;
}

.vaccine-type-fee {
	width: 30%;
	color: #998fa2;
	font-size: 14px;
	font-weight: bold;
	bottom: 0;
	right: 0;
	position: absolute;
	padding-left: 10px;
}

.vaccine-type-fee p {
	color: white;
	background-color: green;
	padding: 0 8px;
	width: 40px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 400;
	/* display: inline-block; */
	/* margin-left: 10px; */
}

.card-container .age-limit {
	width: 50%;
}

.card-container .age-limit .age-wrap {
	color: white;
	background-color: rgb(0, 162, 184);
	border-radius: 5px;
	padding: 0 4px;
	width: 85px;
	text-align: center;
	/* width: 40%; */
}

.dose-details {
	display: inline;
	color: #998fa2;
	right: 0;
	/* border: 1px solid red; */
	margin-left: auto;
}

.dose-number {
	color: green;
	font-weight: bold;
	margin-right: 15px;
}
@media screen and (max-width: 600px) {
	.cards-container li {
		width: 100%;
		margin-right: 0;
	}
}
