body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px !important;
	background-color: rgb(243, 232, 218);
}

.container {
	display: flex;
}

.form-row {
	margin: 10px;
}

.form select {
	outline: none;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 7px 10px;
}

.form-row label {
	margin: 0;
	padding: 0;
	padding: 7px 10px;
}

ul,
li {
	margin: 0;
	padding: 0;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards-container li {
	width: 32%;
	border: 1px solid black;
	margin-top: 10px;
	padding: 7px;
}

.center-address h5 {
	font-size: 13px;
	text-transform: uppercase;
	color: #002060;
}

.card-container .center-address {
	font-size: 12px;
	width: 70%;
	position: relative;
}

.center-address p {
	margin: 0;
	padding: 0;
}

.vaccine-type-fee {
	width: 30%;
	/* float: right; */
	color: #998fa2;
	font-size: 14px;
	font-weight: bold;
	/* border: 1px solid red; */
	bottom: 0;
	right: 0;
	position: absolute;
}

.vaccine-type-fee p {
	color: white;
	background-color: green;
	/* margin: 0; */
	/* padding: 0; */
	padding: 1px 10px;
	width: 50px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: lighter;
}
@media screen and (max-width: 600px) {
	.cards-container li {
		width: 100%;
	}
}
